*.o
*.swo
*.swp
*.txt

cachegrind.out.*
callgrind.out.*


Benchmark
CheckStrength
GenerateAllPatterns
GoMonteCarlo
GTPClient
PatternEvolution
TestGoMonteCarlo

myTestGoBot.ini


MatchUpGTPs/

KGSClient/twogtp.py
